<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1088423394547-8uva209t5juog5pi3c62fl6orqiv59kq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1088423394547-8uva209t5juog5pi3c62fl6orqiv59kq</string>
	<key>API_KEY</key>
	<string>AIzaSyAxlUQCV_AnfErAw1xTBoS7dht0zLCr1tM</string>
	<key>GCM_SENDER_ID</key>
	<string>1088423394547</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gazpromTest</string>
	<key>PROJECT_ID</key>
	<string>gazprom-test-auth</string>
	<key>STORAGE_BUCKET</key>
	<string>gazprom-test-auth.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1088423394547:ios:9cac0e826bbc7927668b86</string>
</dict>
</plist>